body {
    overflow-y: scroll;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #cfcfcf, #e5e5e5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    max-height: 100%;
  }
.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
  /* Texto FAKE STORE de fondo */
  .logo-bg {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    font-weight: bold;
    text-align: center;
    margin-top: 10%;
  }
  
  .logo-bg h1 {
    font-size: 150px;
    margin: 0;
    line-height: 1;
    animation: float 3s ease-in-out infinite; /*  animaci贸n agregada */
  }
  
  .logo-bg p {
    font-family: "Cursive", sans-serif;
    margin-top: 10px;
    font-size: 40px;
    padding-bottom: 100%;
  }
  
  /* Contenedor de login */
  .container {
    background: white;
    border-radius: 12px;
    padding: 40px;
    width: 700px;
    max-width: 800px;
    height: 400px;
    max-height: 500px;
    position: relative;
    left: 150px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    z-index: 1;
    margin-left: 30%;
  }
  
  .container h2 {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .container p {
    text-align: center;
    font-size: 12px;
    margin-bottom: 20px;
    color: #444;
  }
  
  .container p i {
    margin-left: 5px;
    color: #555;
  }
  
  input {
    width: 100%;
    padding: 14px;
    margin: 10px 0;
    border: 2px solid #b78cff;
    border-radius: 4px;
    outline: none;
    font-size: 14px;
  }
  
  input[type="password"] {
    border: 2px solid #ddd;
    margin-top: 30px;
  }
  
  .container button {
    width: 107%;
    padding: 14px;
    background: #444;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 183px;
    position: relative;
    bottom: 150px;
    transition: background 0.3s;
  }
  
  .container button:hover {
    background: #222;
  }
  
  /*  Animaci贸n de subida y bajada */
  @keyframes float {
    0%, 100% {
      transform: translateY(0); /* posici贸n inicial */
    }
    50% {
      transform: translateY(-30px); /* sube */
    }
  }

  @media (max-width: 992px) {

    body{
      height: 100vh;
    }
    .container {
      width: 90%;
      height: 280px;
      margin: 0 auto;
      padding: 30px;
      position: relative;
      left: 1px;
    }
  .container h2 {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .container p {
    text-align: center;
    font-size: 12px;
    margin-bottom: 20px;
    color: #444;
  }
  
  .container p i {
    margin-left: 5px;
    color: #555;
  }
  
  input {
    width: 80%;
    padding: 14px;
    margin: 10px 0;
    border: 2px solid #b78cff;
    border-radius: 4px;
    outline: none;
    font-size: 14px;
  }
  input[type="password"] {
    width: 80%;
    border: 2px solid #ddd;
    margin-top: 1px;
  }
  
  .container button {
    width: 90%;
    padding: 14px;
    background: #444;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 183px;
    position: relative;
    bottom: 185px;
    transition: background 0.3s;
  }
  
   .logo-bg h1 {
    font-size: 50px;
    margin: 0;
    position: relative;
    bottom: 180px;
    left: 60px;
    line-height: 1;
    animation: float 3s ease-in-out infinite; /*  animaci贸n agregada */
  }
  
  .logo-bg p {
    font-family: "Cursive", sans-serif;
    font-size: 20px;
    position: relative;
    bottom: 190px;
    left: 60px;
    padding-bottom: 100%;
  }
  @keyframes float {
    0%, 100% {
      transform: translateY(0); /* posici贸n inicial */
    }
    50% {
      transform: translateY(-20px); /* sube */
    }
  }
  }
  
  @media (min-width: 769px) and (max-width: 960px) {

    body{
      height: 90vh;
    }
     .container {
      width: 90%;
      height: 350px;
      margin: 0 auto;
      padding: 30px;
      position: relative;
      left: 1px;
    }
  .container h2 {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .container p {
    text-align: center;
    font-size: 12px;
    margin-bottom: 20px;
    color: #444;
  }
  
  .container p i {
    margin-left: 5px;
    color: #555;
  }
  
  input {
    width: 90%;
    padding: 14px;
    margin: 10px 0;
    border: 2px solid #b78cff;
    border-radius: 4px;
    outline: none;
    font-size: 14px;
  }
  input[type="password"] {
    width: 90%;
    border: 2px solid #ddd;
    margin-top: 20px;
  }
  
  .container button {
    width: 96%;
    padding: 14px;
    background: #444;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 200px;
    position: relative;
    bottom: 185px;
    transition: background 0.3s;
  }
  .logo-bg h1 {
    font-size: 70px;
    margin: 0;
    position: relative;
    bottom: 300px;
    left: 200px;
    line-height: 1;
    animation: float 3s ease-in-out infinite; /*  animaci贸n agregada */
  }
  
  .logo-bg p {
    font-family: "Cursive", sans-serif;
    font-size: 30px;
    position: relative;
    bottom: 310px;
    left: 200px;
    padding-bottom: 100%;
  }
    @keyframes float {
    0%, 100% {
      transform: translateY(0); /* posici贸n inicial */
    }
    50% {
      transform: translateY(-40px); /* sube */
    }
  }
  }
